nav ul{
    columns: 3;
}
.title{
    /* position: relative; */
    font-family: Della Respira;
    text-shadow: 0rem 0rem 0.75rem rgb(104, 194, 73);
    font-weight: 700;
    text-align: center;
}
.background .title{
    font-weight: bolder;
}
.image{
    width: 60vw;
    height: 40vh;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom:  1vh;
    border-radius: 5rem;   
    background-color: rgb(40, 89, 67); 
}
h1{
    font-size: 6vw;

}

h2{
    font-size: max(3vw, 19px);
    text-shadow: 0rem 0rem 0.55rem rgb(0, 0, 0);
    text-align: center;
}
h3{
    font-size: max(1rem, 20px);
    text-shadow: 0rem 0rem 0.55rem rgb(0, 0, 0);
    text-align: center;
}
p{
    font-size: min(2.5vw, 16px);
    font-weight: bolder;
    text-align: center;
}

a{
   color:black ;
   text-shadow: 0rem 0rem 0.55rem rgb(255,215,0);
   font-size: min(3vw, 18px);
   font-weight: bolder;
   text-align: center;  
}
a:hover{
    color:black ;
    text-shadow: 0rem 0rem 0.55rem rgb(41, 41, 195);
 }
*{
    font-family: Cinzel;
    text-align: center;
}
.background{
    background-size: cover;
}
.background{
    /* background-color: rgb(229, 255, 229); */
    background-image:url(../images/pitch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.margin{
    /* position: relative; */
    background-color: rgba(220, 220, 220, 0.85);
    border: 1rem solid rgba(100, 100, 100, 1);;
    line-height:2;
    border-radius: 5rem;
    max-width: 60vw;
    display: inline-block;
    text-align:initial;
}
.margin_picture{
    display: flex;
    background-color: rgba(220, 220, 220, 0.85);
    border: 1rem solid rgba(100, 100, 100, 1);;
    line-height:2;
    border-radius: 5rem;
    max-width: 60vw;
    align-items: center;
    justify-content:center;
}
.grid_2_elements{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.Jesus{
    width: 30rem;
    height: 30rem;
    border-radius: 5rem;
}
nav ul li a h3{
    font-size: 2.5vw;
}
.current_a{
    text-decoration: underline;
    text-shadow: 0rem 0rem 0.55rem rgb(209, 54, 54);
}
.grid_9{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.card{
    background-color: transparent;
    width: 25vw;
    height: 40vh;
    perspective: 1000px;

}
.card-inner {
    position: relative;
    width: 25vw;
    height: 40vh;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
.max{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    border: 1rem solid;
    border-left-color: rgba(0, 82, 159, 1);
    border-right-color: rgba(0, 82, 159, 1);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
}
.max_f{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    border: 1rem solid;
    border-left-color: rgba(226 0 26);
    border-right-color: rgba(226 0 26);
    border-top-color: rgb(174 153 98);
    border-bottom-color: rgb(174 153 98);
}
.max_sp{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    border: 1rem solid;
    border-left-color: rgba(139, 13, 17);
    border-right-color: rgba(139, 13, 17);
    border-top-color: rgb(252, 181, 7);
    border-bottom-color: rgb(252, 181, 7);
}
.max_arg{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    border: 1rem solid;
    border-left-color: rgba(108, 172, 228);
    border-right-color: rgba(108, 172, 228);
    border-top-color: rgb(255, 184, 28);
    border-bottom-color: rgb(255, 184, 28);
}
.maxSpace_rm, .info_player{ 
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
}
.info_player{
    border-radius: 5rem;
    border: 1rem solid;
    background-color: rgb(186, 204, 247);
    transform: rotateY(180deg);
    align-items: center;
    justify-content:center;
    display: grid;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height:  100%;
  perspective: 1000px;
}
button:focus{
    transform: scale(1.2)  ;
}
a:focus{
    border: 5px  solid blue  ;
}
.maxsize{
    width: 70%;
    height:  100%;   
}